body{
    margin: 0;
    font-family: sans-serif;
}

/* My Grid Container that sets up a nice layout with spacing */
.grid-container{
    display: grid;
    gap: 5px;
    min-height: 100vh;
}

/* Basic grid styling for each item in the grid */
.item {
    padding: 20px;
    text-size-adjust: 1.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

/* My background colors for each item in the grid */
.a {background: #c1841b;}
.b {background: #345015;}
.c {background: #727dde;}
.d {background: #884a84;}
.e {background: #7ce0fc;}
.f {background: #c75ac4;}

.grid-container {
    grid-template-areas: 
    "A"
    "B"
    "C"
    "D"
    "E"
    "F";
}
/* This is where I set up the grid for each of the areas and items in the grid */
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }

/* I assigned each item to its own area in the grid */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 2fr, 1fr;
        grid-template-areas: 
        "A A"
        "B C"
        "B D"
        "B E"
        "F F";
    }
}
/* This is my three column layout for larger screens */
@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
        "a a a"
        "b c d"
        "b e e"
        "f f f";
    }
}